nav {
    background-color: #4c2c46;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}


nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

section{
    margin-bottom: 50px;
}

h1 {
    font-family: "Comic-Sans", "Comic-Sans MS", "Chalkboard SE", "Comic Neue", cursive;
    font-weight: bold;
    color: rgb(229, 112, 237);
}

h2{
    font-family: "Comic-Sans", "Comic-Sans MS", "Chalkboard SE", "Comic Neue", cursive;
    color: rgb(229, 112, 237);
    text-align: center
}
h3{
    font-family: "Comic-Sans", "Comic-Sans MS", "Chalkboard SE", "Comic Neue", cursive;
    color: rgb(229, 112, 237);
    text-align: center
}
h4{
    font-family: "Comic-Sans", "Comic-Sans MS", "Chalkboard SE", "Comic Neue", cursive;
    color: rgb(229, 112, 237);
    text-align: center
}

p {
    font-family: "Comic-Sans", "Comic-Sans MS", "Chalkboard SE", "Comic Neue", cursive;
    color: ghostwhite;

}

main {
    background-color: blueviolet;
}

div.card.shadow-sm {
    background-color: black;
    
}

header {
    background-color: rgb(173, 233, 54);
}

footer {
    background-color: darkmagenta !important;
}

body {
    background-color: blueviolet;
    font-family: "Comic-Sans", "Comic-Sans MS", "Chalkboard SE", "Comic Neue", cursive;
}